body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color:black;
}

.result-image {
    margin-top: 3vh;

}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vh;
}

img {
    align-items: center; 
    width: 50vh;
}

.center{
    display: grid;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 100vh;
    position: relative;
    margin-top: 2 vh;
}

.description{
    display: flex;
    justify-content: center;
}

.button{
    justify-content: center;
    display: grid;
}